
{#--------UD6.8.a------#}
{#Template de lista de asociaciones#}
{% extends "common/base_intranet.html" %}

{% block main_content %}
<div class="container">
    <h1>Lista de asociaciones</h1>
    <ul class="list-group mt-3">
    {% for asociacion in object_list %}
        <a href="{% url 'asociacion_detail' pk=asociacion.id %}" class="list-group-item list-group-item-action">{{ asociacion }}</a>
    {% empty %}
        <p>No existen asociaciones.</p>
    {% endfor %}
    </ul>
</div>
{#-------UD6.8.b-----#}
{#Paginación con include del archivo nuevo de pagination en conmon#}
{% include 'common/pagination.html' %}

{% endblock main_content %}