{#------UD6.8.a------#}
{#Template de lista de categorías #}

{% extends "common/base_intranet.html" %}

{% block main_content %}
<div class="container">
    <h1>Lista de Categorias</h1>
    <ul class="list-group mt-3">
    {% for categoria in object_list %}
        <a href="{% url 'categoria_detail' pk=categoria.id %}" class="list-group-item list-group-item-action">{{ categoria.nombre }}</a>
    {% empty %}
        <p>No existen categorías.</p>
    {% endfor %}
    </ul>
</div>

{#-------UD6.8.b-----#}
{# Paginación con include del archivo nuevo de pagination en common #}
{% include 'common/pagination.html' %}

{% endblock main_content %}