{% extends "common/base_intranet.html" %}

{% block main_content %}
<div class="container">
    <h1 class="mb-5">Panel inicial</h1>
    <h3>Datos maestros</h3>
    <hr>
    <div class="row justify-content-evenly mb-5">
        <div class="card col-sm-2">
          <div class="card-body">
            <h5 class="card-title">Provincias</h5>
            <p class="card-text">Provincias</p>
            <a href="{% url 'provincia_list' %}" class="btn btn-primary">Consultar</a>
          </div>
        </div>
        <div class="card col-sm-2">
          <div class="card-body">
            <h5 class="card-title">Ciudades</h5>
            <p class="card-text">Ciudades</p>
            <a href="{% url 'ciudad_list' %}" class="btn btn-primary">Consultar</a>
          </div>
        </div>
        <div class="card col-sm-2">
          <div class="card-body">
            <h5 class="card-title">Distritos</h5>
            <p class="card-text">Distritos</p>
            <a href="{% url 'distrito_list' %}" class="btn btn-primary">Consultar</a>
          </div>
        </div>
    </div>

    <h3>Directorio de comercios</h3>
    <hr>
    <div class="row justify-content-evenly">
        <div class="card col-sm-2">
          <div class="card-body">
            <h5 class="card-title">Asociaciones</h5>
            <p class="card-text">Asociaciones</p>
            <a href="{% url 'asociacion_list' %}" class="btn btn-primary">Consultar</a>
          </div>
        </div>
        <div class="card col-sm-2">
          <div class="card-body">
            <h5 class="card-title">Comercios</h5>
            <p class="card-text">Comercios</p>
            <a href="{% url 'comercio_list' %}" class="btn btn-primary">Consultar</a>
          </div>
        </div>
        <div class="card col-sm-2">
          <div class="card-body">
            <h5 class="card-title">Categorías</h5>
            <p class="card-text">Categorías</p>
            <a href="{% url 'categoria_list' %}" class="btn btn-primary">Consultar</a>
          </div>
        </div>
        <div class="card col-sm-2">
          <div class="card-body">
            <h5 class="card-title">Subcategorías</h5>
            <p class="card-text">Subcategorías</p>
            <a href="{% url 'subcategoria_list' %}" class="btn btn-primary">Consultar</a>
          </div>
        </div>
    </div>

</div>
{% endblock main_content %}